:root {
    --bulma-primary-h: 201deg;
    --bulma-primary-l: 50%;
    --bulma-link-h: 261deg;
    --bulma-link-l: 50%;
    --bulma-info-h: 323deg;
    --bulma-info-s: 89%;
    --bulma-info-l: 76%;
    --bulma-success-h: 166deg;
    --bulma-success-s: 100%;
    --bulma-success-l: 46%;
    --bulma-warning-h: 39deg;
    --bulma-warning-l: 71%;
    --bulma-danger-h: 12deg;
    --bulma-danger-l: 64%;
    --bulma-scheme-h: 250;
}

pre {
    max-height: 15rem !important;
    max-width: 80% !important;
    overflow: auto !important;
    overflow-x: auto !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border-radius: .2rem !important;
    font-size: 0.8rem !important;
    padding: 0.5rem !important;
}

.navbar-logo {
    margin: auto;
}

.navbar-logo img {
    width: 10rem;
}

.news {
    height: 50vh;
}

.mid-size {
    margin: 0 auto;
    width: 20rem;
}

.chat-history {
    max-height: 24rem;
    overflow-y: scroll;
    padding-right: 1rem;
}

.notification-container {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
    clear: both;
}

.assistant {
    justify-content: flex-end;
}